<!DOCTYPE html>
<html>
    <head>
        <title>Dialogue Box</title>
    </head>
    <body>
        <!-- Dialogue Box -->

        <div id="white-background">

        </div>

        <div id="dlgbox">
            <div id="dlg-header">You are logged out...</div>
        </div>

        <div id="dlg-body">Kindly login to continue</div>

        <div id="dlg-footer">
            <button onclick="dlgLogIn()">Log In</button>
        </div>

        <!-- rest of the page -->
        <h1>Dialogue Box Demo</h1>

        <p>This is dialogue box example</p>

        <p>click the buuton below to see the dialogue box</p>

        <button onclick="showDialogueBox">Click Me!</button>

    </body>
</html>