<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Foodies</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css"/>

		<style media="screen">
			#img2{
				width: 400px;
				height: 219px;
			}
		</style>

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo" style="font-size:40px;"><strong style="font-family: 'Yellowtail', cursive;">FOODIES</strong></a>
					<nav id="nav">
						<a href="index.html" style="font-size:25px;">Home</a>
						<a href="generic.html" style="font-size:25px;">Signin</a>
						<a href="elements.html" style="font-size:25px;">Signup</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner pt-5">
					<header>
						<h2 class="display-3 text-white mb-4">Hurry and Hungry ?</h2>
						<h2 class="display-4 text-white">Get your FOOD ready now...</h2>
					</header>

					<div class="flex ">

						<div>
							<span><i class="fas fa-utensils fa-5x" style="color:#42f4ad;"></i></span>
							<h3>Canteen</h3>
							<p class="display-5">Choose your favourite canteen</p>
						</div>

						<div>
							<span><i class="fas fa-hamburger fa-5x" style="color:#42f4ad;"></i></span>
							<h3>Dishes</h3>
							<p class="display-5">Order dish you like</p>
						</div>

						<div>
							<span><i class="far fa-clock fa-5x" style="color:#42f4ad;"></i></span>
							<h3>Notification</h3>
							<p class="display-5">Get the delicious food in your time</p>
						</div>

					</div>

				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article style="padding-top:15px;">
							<div class="image round">
								<img style="height:200px;" src="images/mobApp.png" alt="Pic 01" />
							</div>
							<header>
								<h3>Customer</h3>
							</header>
							<p>This service is provided to customers by an Android<br />application. Customers can select the foods of his/her choice,<br />and able to place the order with special suggestions.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img id="img2" src="images/webApp.png" alt="Pic 02" />
							</div>
							<header>
								<h3>Admin</h3>
							</header>
							<p>Canteen owners which serves to customers as an Admin<br />can view the confirmed orders and can update the status accordingly.<br />Admin need to create an account from this web app.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h1 class="display-2 text-white">Always at your service, Thankyou!</h1>

				</div>
			</footer>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
